/*************************/
/* Styling Header */
/*************************/
header{
	overflow: hidden;
}

#top-header{
	text-align: center;
	height: 80px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: none;
	margin: none;
	height: 80px;
	display: flex;
    align-items: center;
	/* width: auto; */
}

#logo img{
	width: auto;
	float: left;
	/* padding: 5px 0px; */
} 

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	/* width: 70%; */
	height: 100%;
	margin: none;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: 0;
	
}
	
#menu li{
	display: inline-block;
	padding: 0;
	margin: 0px;
   
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 0em 0.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 80px;
}
	
#menu li a{
	color: #0082bc;
}
	
#menu li:hover a, #menu li span{
	background: #0082bc;
	color: #fff;
	text-decoration: none;
    margin: 0px;
    padding: 0 0.5em
}

#menu li .active, #menu li span{
	background: #0082bc;
	color: #fff;
	text-decoration: none;
    margin: 0px;
    padding: 0 0.5em
}
@media screen and (max-width: 480px) {
	#logo img{
		width: 100px;
		float: left;
		/* padding: 5px 0px; */
	} 
	#top-header {
		height: 60px;
	}
	#menu li a, #menu li span{
		line-height: 60px;
	}
	#logo{
		height: 60px;
		/* width: auto; */
	}
}